:root{
  --light-cream: rgb(255, 249, 213);
}

.card {
    width: 500px;
    border: 5px solid var(--light-cream);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  
  .card-content {
    padding: 16px;
    background: white;
  }
  
  .card-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-caption {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
  }
  
.card-line{
  margin-top: 10px;
  margin-bottom: 10px;

}

.card-buttons{
  text-align: center;
}

.map-container{
  height: 200px;
  width: 100%;
}

.post-container{
  display: flex;
}

.post__options-tab{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--light-cream);
}

.place__post-options{
  font-size: 25px;
  margin: 10px;
  color: black;
  text-align: center;
}

p.place__post-options {
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
}